.jumbotron{
    background-image: url("../img/Bryant-Denny-Stadium-scaled-e1699217343354.jpeg");
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}